.loginContainer {
  /* margin-top: 60px; */
  text-align: center;
}

.toursContainer {
  text-align: center;
}

.toursBody {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
}

.tourContainer {
  border: 2px solid #EEEEEE;
  border-radius: 10px;
  margin: 10px;
  /* width: 31.7%;   */
}

.editTourContainer {
  margin: 0 20px;
}

.editTourBody {
  text-align: center;
  margin: 0 auto;  
  width: 50%;
}

.tourImage {
  height: 80%;
  padding: 8px 8px 0px 8px;
}

.tourName {
  height: 20%;
}

.thumbnailImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.tourDetailContainer {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.detailContainer {
 text-align: left;
}

.detailContainer span {
  font-weight: bold;
}

.tourDetailImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.tourDetailImageContainer {
  width: 75%;
  border: 2px solid #EEEEEE;
  border-radius: 10px;
  padding: 8px 8px 8px 8px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.doughnutChartContainer {
  height: 40%;
  width: 40%;
  text-align: center;
  margin: 0 auto;
}

.dashboardTourContainer {
  text-align: center;
}

.tourFlex {
  width: 31.7%;  
  text-align: center;
}

.profileContainer {
  text-align: center;
}

.profileImages {
  width: 31.7%;
  border: 2px solid #EEEEEE;
  border-radius: 15px;
  padding: 8px 8px 8px 8px;
  margin: 0 auto;
}

.profilePic {
  height: 20%;
  width: 20%;
  margin: 0 auto;
}

.App {
  font-family: 'Raleway', sans-serif;
}

.particles {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(https://images.unsplash.com/photo-1523002010469-ea85cb48674b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e86b07d918c7e0c19c83ad6150382c3e&auto=format&fit=crop&w=750&q=80);
  z-index: 0;
}

.turtle {
  width: 50%;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

