.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.toursContainer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
}

.tourContainer {
  width: 31.7%;
  border: 2px solid #EEEEEE;
  border-radius: 10px;
  margin: 10px;
}

.tourImage {
  height: 80%;
  padding: 8px 8px 0px 8px;
}

.tourName {
  height: 20%;
}

.thumbnailImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}