.loginContainer {
  margin-top: 60px;
  text-align: center;
}

.toursContainer {
  text-align: center;
}

.toursBody {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
}

.tourContainer {
  border: 2px solid #EEEEEE;
  border-radius: 10px;
  margin: 10px;
  /* width: 31.7%;   */
}

.editTourContainer {
  margin: 0 20px;
}

.editTourBody {
  text-align: center;
  margin: 0 auto;  
  width: 50%;
}

.tourImage {
  height: 80%;
  padding: 8px 8px 0px 8px;
}

.tourName {
  height: 20%;
}

.thumbnailImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.tourDetailContainer {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.detailContainer {
 text-align: left;
}

.detailContainer span {
  font-weight: bold;
}

.tourDetailImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.tourDetailImageContainer {
  width: 75%;
  border: 2px solid #EEEEEE;
  border-radius: 10px;
  padding: 8px 8px 8px 8px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.doughnutChartContainer {
  height: 40%;
  width: 40%;
  text-align: center;
  margin: 0 auto;
}

.dashboardTourContainer {
  text-align: center;
}

.tourFlex {
  width: 31.7%;  
  text-align: center;
}


